html,
body {
  overflow: hidden;
}
body {
  outline: none;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
}
.header {
  width: auto;
  height: auto;
}
.Add-btn {
  cursor: pointer;
  margin: 20px;
}
.log-out-btn {
  position: absolute;
  top: 10px;
  right: 0;
}
.note {
  position: absolute;
  z-index: 9;
  height: 10em;
  width: 10em;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}
.text {
  font-family: "Reenie Beanie";
  font-size: 2rem;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  color: #000;
  background: #ffc;
  width: 10em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  margin: 1em;
}
