* {
  font-family: "Roboto Mono", monospace;
}

html,
body {
  overflow: hidden;
}
body {
  outline: none;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.Username-div {
  font-size: 80px;
  margin-left: 30px;
  margin-top: 50px;
}
.header {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.btnContainer {
  /* width: 50px;
  height: 50px; */
  /* background-color: rgb(84, 153, 27); */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Add-btn {
  cursor: pointer;
  margin: 20px;
  width: 100px;
  height: 100px;
  font-size: 70px;
  background-color: rgb(191, 195, 188);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-out-btn {
  position: absolute;
  top: 10px;
  right: 0;
}
.note {
  position: absolute;
  z-index: 9;
  height: 10em;
  width: 10em;
  text-align: center;
  top: 200px;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}
.text {
  font-family: "Reenie Beanie";
  font-size: 2rem;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  color: #000;
  background: #ffc;
  width: 10em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  margin: 1em;
}

.log-out-btn {
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  height: 50px;
  width: 90px;
}
