body {
  font-family: "Roboto Mono", monospace;
  background-color: rgb(208, 225, 246);
}

h1 {
  color: rgb(192, 196, 212);
  text-align: center;
  padding-bottom: 40px;
}

form {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  width: 20vw;
  /* height: 50vh; */
  margin: auto;
  margin-top: 10%;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.usernameInput {
  margin-bottom: 20px;
  width: 15vw;
  height: 4vh;
  padding-left: 3%;
  background-color: rgb(236, 240, 246);
  /* border: 6px solid rgb(176, 208, 248); */
  border: none;
  margin-bottom: 40px;
}

.passwordInput {
  width: 15vw;
  height: 4vh;
  padding-left: 3%;
  /* margin-bottom: 65px; */
  background-color: rgb(236, 240, 246);
  /* border: 6px solid rgb(176, 208, 248); */
  border: none;

  margin-bottom: 45px;
}

input::placeholder {
  color: rgb(176, 208, 248);
}

input,
select,
textarea {
  color: #535566;
}

p {
  font-size: 15px;
  color: rgb(36, 49, 233);
}

.signIn,.signUp {
  color: #fff;
  width: 35%;
  height: 4vh;
  background-color: rgb(253, 113, 51);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.confirmPassword {
  display: none;
}

